<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de incapacidades</title>
</head>
<body>
    
      <header>
        <%- include('./../partials/header/header.ejs') %>

      </header>


        <%-include('./../partials/sidebars/modulos/incapacidades/sidebar_principal.ejs') %>


    <div>
        <div class="">

        </div>
        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum explicabo rerum quibusdam magnam quo sint at ipsam sunt. Voluptate optio amet impedit voluptatibus blanditiis, nostrum eos ab adipisci sit est?
        </h1>
    </div>


</body>
</html>