<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tabla de incapacidades</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/incapacidades/css/sidebar/style_sidebar_adaptacion_pantalla.css">
 
  <%- include('./../partials/header/header.ejs') %>

</head>


<body class="bg-slate-200">
 
    
    <!-- NAVBAR -->
  <header>
    <!-- NAVBAR SUPERIOR -->
    <nav class="navbar">
      <div class="navbar-left ">
        <div class="navbar-left" style="gap: 0.5rem;">
          <img src="/incapacidades/img/logo/LOGO_SPEED_NETWORKS_SAS-01.png" alt="Logo 1" style="height: 60px;" />
          <img src="/incapacidades/img/logo/CONEXION-DIGITAL-LOGO-VECTOR-png-blanco.png" alt="Logo 2" style="height: 90px;" />
        </div>
      </div>

      <div class="navbar-right">
        <span class="navbar-user">Hola, Alex Alejandro Oviedo Gonzalez</span>
        <i class='bx bx-user-circle text-2xl ml-4'></i>
        <i class='bx bx-exit ml-4 text-xl cursor-pointer'></i>
      </div>
    </nav>
  </header>

  <!-- SIDEBAR -->
  <aside>
    <!-- SIDEBAR (partial) -->
    <div id="sidebar_principal_incapacidades" class="main-content">
      <aside id="sidebar" class="sidebar">
        <%- include('./../partials/sidebars/modulos/incapacidades/sidebar_principal.ejs') %>
      </aside>
    </div>

  </aside>

  <div class="flex">



    <!-- CONTENEDOR PRINCIPAL -->
    <div id="container_seleccionar_empleado" class="flex flex-col min-h-screen gap-6 mt-32 mr-20 p-8 w-full max-w-11/12 transition-all duration-500 container-collapsed border bg-white">
    
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vero maiores facere atque debitis libero asperiores quasi mollitia non incidunt totam repudiandae error, necessitatibus quis dignissimos explicabo fugit recusandae eius inventore eveniet iste odio ex harum. Mollitia beatae alias accusantium, quos eius temporibus incidunt cupiditate veniam nobis vero sit nostrum totam saepe adipisci, consectetur dolorem ratione numquam placeat, harum amet asperiores! Optio ullam velit nesciunt quos ipsa ea pariatur architecto harum vel rerum? Voluptatem magni veniam magnam perspiciatis quod sit, nemo expedita asperiores nisi, repudiandae labore minima neque quae accusantium non dolor eveniet quasi minus. Temporibus deserunt saepe nulla dolorum dolor mollitia possimus tenetur molestiae doloremque, voluptatibus voluptates ratione sapiente delectus accusamus eveniet hic magnam dignissimos? Sunt culpa esse quibusdam magni repellat similique pariatur quod odio, reprehenderit aliquam consectetur facere voluptas obcaecati laboriosam molestiae. Veniam officia nobis praesentium eius quasi maxime placeat numquam repellat officiis quidem fuga sit similique, et accusamus at quia, illo voluptates aperiam consequatur beatae totam minus voluptatem? A veniam id voluptates quisquam eius, consequatur commodi! Similique dolorem minus culpa fugit impedit corporis, sunt accusantium natus libero sed? Quod vel, saepe iusto, voluptate quis ea eum error non accusantium natus dignissimos rerum maiores ut velit repudiandae ducimus!</P>

    </div>
  </div>



  <!-- Script que maneja la sidebar y el contenedor -->
  <script src="/incapacidades/js/sidebar/sidebar_1.js"></script>




</body>

</html>
