<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User disability table</title>

    <%- include('./../partials/header/header.ejs') %>

</head>
<body class="bg-slate-200">

      <!-- NAVBAR -->
  <header>
    <!-- NAVBAR SUPERIOR -->
    <nav class="navbar">
      <div class="navbar-left ">
        <div class="navbar-left" style="gap: 0.5rem;">
          <img src="/incapacidades/img/logo/LOGO_SPEED_NETWORKS_SAS-01.png" alt="Logo 1" style="height: 60px;" />
          <img src="/incapacidades/img/logo/CONEXION-DIGITAL-LOGO-VECTOR-png-blanco.png" alt="Logo 2" style="height: 90px;" />
        </div>
      </div>

      <div class="navbar-right">
        <span class="navbar-user">Hola, Alex Alejandro Oviedo Gonzalez</span>
        <i class='bx bx-user-circle text-2xl ml-4'></i>
        <i class='bx bx-exit ml-4 text-xl cursor-pointer'></i>
      </div>
    </nav>
  </header>

  <!-- SIDEBAR -->
  <aside>
    <!-- SIDEBAR (partial) -->
    <div id="sidebar_principal_incapacidades" class="main-content">
      <aside id="sidebar" class="sidebar">
        <%- include('./../partials/sidebars/modulos/incapacidades/sidebar_principal.ejs') %>
      </aside>
    </div>

  </aside>



  <div>
    <h1>hello world</h1>
  </div>
    






    <!-- Script que maneja la sidebar y el contenedor -->
    <script src="/incapacidades/js/sidebar/sidebar_1.js"></script>

</body>
</html>