<header>
  <link rel="stylesheet" href="/incapacidades/css/sidebar/style_sidebar.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>

<body>





  <div class="menu-btn sidebar-btn" id="sidebar-btn">
    <i class='bx bx-menu'></i>
    <i class='bx bx-x'></i>
  </div>



  <div class="header">
    <div class="menu-btn" id="menu-btn">
      <i class='bx bx-chevron-left'></i>
    </div>

    <div class="brand">
      <img class="brand-light" src="/incapacidades/img/logo/conexion_1.avif" alt="logo">
      <span>ERP</span>
    </div>
  </div>


  <div class="menu-container">



    <!-- Inicio -->
    <ul class="menu">

      <!-- HOME -->
      <li class="menu-item menu-item-static">
        <a href="/Inicio" class="menu-link">
          <i class='bx bxs-home' style="color: #588d0c; z-index: 1000;"></i>
          <span>Inicio</span>
        </a>
      </li>


      <!-- Modulos -->
      <li class="menu-item menu-item-static">
        <a href="/Modulos" class="menu-link">
          <i class='bx bxs-grid-alt' style="color: #588d0c;"></i>
          <span>Modulos</span>
        </a>
      </li>


      <!-- Modulos -->
      <li class="menu-item menu-item-static">
        <a href="/incapacidad/seleccionar/empleado" class="menu-link">
          <i class='bx bxs-ambulance' style="color: #588d0c;"></i>
          <span>Incapacidades</span>
        </a>
      </li>


      <!-- INCAPACIDADES -->
<!--       <li class="menu-item menu-item-dropdown">
        <a href="#" class="menu-link">
          <i class='bx bxs-ambulance' style="color: #588d0c;"></i>
          <span>Incapacidades</span>
          <i class='bx bx-chevron-down'></i>
        </a>
        <ul class="sub-menu">
          <li><a href="/incapacidad/seleccionar/empleado" class="sub-menu-link">Nueva Incapacidad</a></li>
        </ul>
      </li> -->
      


      <li class="menu-item menu-item-dropdown hidden">
        <a href="#" class="menu-link">
          <i class='bx bx-file-blank' style="color: #64a30dd6;"></i>
          <span>File</span>
          <i class='bx bx-chevron-down'></i>
        </a>
        <ul class="sub-menu">
          <li><a href="#" class="sub-menu-link">Images</a></li>
          <li><a href="#" class="sub-menu-link">Audios</a></li>
        </ul>
      </li>


    </ul>
  </div>
  <div class="footer">
    <ul class="menu">
      <li class="menu-item menu-item-static">
        <a href="#" class="menu-link">
          <i class='bx bxs-bell-ring' style="color: #588d0c;"></i>
          <span>Notificaciones</span>
        </a>
      </li>
      <li class="menu-item menu-item-static">
        <a href="#" class="menu-link">
          <i class='bx bxs-cog' style="color: #588d0c;"></i> 
          <span>Configuraciones</span> 
        </a>
      </li>
    </ul>
    <div class="user">
      <div class="user-img">
        <img src="/incapacidades/img\sidebar\user.jpg" alt="user">

      </div>
      <div class="user-data">
        <span class="name"><%= user.nombre %></span>
        <span class="email"> <%= user.correo %> </span>
      </div>

    </div>
  </div>



</body>

</html>