


<!-- Extra Large Modal -->
<div id="legalization_disability" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full ">
    <div class="relative w-full max-w-[85vw] max-h-full  rounded-3xl p-10">
        <!-- Modal content -->
        <div class="relative bg-gray-500 rounded-2xl shadow-sm  p-7">
            <!-- Modal header -->
            <div class="flex items-center justify-between w-full  md:p-1 border-b rounded-b  shadow-sm bg-slate-800 rounded-2xl z-10">
               
                <h3 class="text-sm uppercase font-medium text-gray-100 w-full text-center">
                   Legalizacion liquidacion de incapacidad
                </h3>
               
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="legalization_disability">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <div class="w-full mx-auto p-10 bg-gray-200">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2 text-start">
  
                <label id="info_empleado"  class="block mb-1.5 text-xs font-bold font-serif text-slate-950">
                  ID EMPLEADO:
                  <small class="mb-1.5 text-xs font-semibold font-serif text-gray-700">
                    Oviedo
                  </small>
                </label>
                
      
                  <label for="arl-date" class="font-semibold text-gray-900 whitespace-nowrap text-sm">NOMBRES:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-sm font-bold font-serif text-slate-950">APELLIDOS:
                    <small class=" font-medium text-gray-900 whitespace-nowrap text-xs"> Oviedo  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">DOCUMENTO:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">CONTACTO:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">AREA:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">FECHA DE CONTRATACION:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">TIPO DE CONTRATO:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">CARGO:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">ESTADO:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">LIDER:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">SALARIO:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">VALOR DIA:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">EMPRESA:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">NIT:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">EPS:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">ARL:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">FONDO DE PENSION:
                    <small class="text-sm font-style: italic font-serif  font-normal text-slate-600 ml-2">  </small>
                  </label>
      
                  <label for="arl-date" class="block mb-1.5 text-xs font-bold text-slate-950">CAJA DE COMPENSACION:
                    <small class="text-sm font-style: italic font-serif font-normal text-slate-600 ml-2 ">  </small>
                  </label>
      
      
                </div>
              </div>    


            
        </div>
    </div>
</div
 