<datalist id="areas">
    <option value="INGENIERIA">INGENIERIA</option>
    <option value="TALENTO HUMANO">TALENTO HUMANO</option>
    <option value="CONTABILIDAD">CONTABILIDAD</option>
    <option value="PQR">PQR</option>
    <option value="DISENO">DISENO</option>
    <option value="AUDITORIA">AUDITORIA</option>
    <option value="BODEGA">BODEGA</option>
    <option value="CALL CENTER">CALL CENTER</option>
    <option value="SAC">SAC</option>
    <option value="AREA TECNICA">AREA TECNICA</option>
    <option value="FIBRA">FIBRA</option>
    <option value="NORMALIZACION">NORMALIZACION</option>

</datalist>