<datalist id="list_caja_compensacion">
    <option value="COLSUBSIDIO">COLSUBSIDIO</option>
    <option value="COMFACESAR">COMFACESAR</option>
    <option value="COMFENALCO CARTAGENA">COMFENALCO CARTAGENA</option>
    <option value="COMFENALCO VALLE">COMFENALCO VALLE</option>
    <option value="NINGUNA">NINGUNA</option>

</datalist>