<datalist id="lista_cargo_staff">
    <option value="ADMINISTRADOR DE REDES">ADMINISTRADOR DE REDES</option>
    <option value="ADMINISTRADORA DE REDES SOCIALES">ADMINISTRADORA DE REDES SOCIALES</option>
    <option value="AGENTE DE SOPORTE">AGENTE DE SOPORTE</option>
    <option value="ANALISTA CALL CENTER">ANALISTA CALL CENTER</option>
    <option value="ANALISTA INVENTARIOS">ANALISTA INVENTARIOS</option>
    <option value="ANALISTA PQR">ANALISTA PQR</option>
    <option value="APRENDIZ SENA ETAPA LECTIVA">APRENDIZ SENA ETAPA LECTIVA</option>
    <option value="APRENDIZ SENA ETAPA LECTIVA - VOLUNTADES">APRENDIZ SENA ETAPA LECTIVA - VOLUNTADES</option>
    <option value="APRENDIZ SENA ETAPA PRACTICA">APRENDIZ SENA ETAPA PRACTICA</option>
    <option value="APRENDIZ SENA ETAPA PRACTICA - VOLUNTADES">APRENDIZ SENA ETAPA PRACTICA - VOLUNTADES</option>
    <option value="ASESOR COMERCIAL EXTERNO">ASESOR COMERCIAL EXTERNO</option>
    <option value="ASESORA COMERCIAL Y DE SERVICIO AL CLIENTE">ASESORA COMERCIAL Y DE SERVICIO AL CLIENTE</option>
    <option value="ASESORA NORMALIZACION">ASESORA NORMALIZACION</option>
    <option value="ASISTENTE DE GERENCIA">ASISTENTE DE GERENCIA</option>
    <option value="AUDITOR">AUDITOR</option>
    <option value="AUDITOR ADMINISTRATIVO">AUDITOR ADMINISTRATIVO</option>
    <option value="AUXILIAR CONTABLE">AUXILIAR CONTABLE</option>
    <option value="AUXILIAR DE ALMACEN">AUXILIAR DE ALMACEN</option>
    <option value="AUXILIAR DE DISEﾃ前">AUXILIAR DE DISEﾃ前</option>
    <option value="AUXILIAR DIRECCION TECNICA">AUXILIAR DIRECCION TECNICA</option>
    <option value="AUXILIAR SISO">AUXILIAR SISO</option>
    <option value="AUXILIAR TALENTO HUMANO">AUXILIAR TALENTO HUMANO</option>
    <option value="CONDUCTOR TECNICO">CONDUCTOR TECNICO</option>
    <option value="CONDUCTORA COMERCIAL">CONDUCTORA COMERCIAL</option>
    <option value="DIRECTOR INGENIERIA">DIRECTOR INGENIERIA</option>
    <option value="DIRECTOR TECNICO">DIRECTOR TECNICO</option>
    <option value="DIRECTORA ADMINISTRATIVA">DIRECTORA ADMINISTRATIVA</option>
    <option value="DIRECTORA TALENTO HUMANO">DIRECTORA TALENTO HUMANO</option>
    <option value="GERENTE GENERAL">GERENTE GENERAL</option>
    <option value="INTERVENTOR">INTERVENTOR</option>
    <option value="LIDER CALL CENTER">LIDER CALL CENTER</option>
    <option value="LIDER COMERCIAL DE SERVICIO AL CLIENTE">LIDER COMERCIAL DE SERVICIO AL CLIENTE</option>
    <option value="LIDER CONTABLE">LIDER CONTABLE</option>
    <option value="LIDER DE DISEﾃ前">LIDER DE DISEﾃ前</option>
    <option value="LIDER FIBRA OPTICA">LIDER FIBRA OPTICA</option>
    <option value="LIDER LOGISTICO">LIDER LOGISTICO</option>
    <option value="LIDER NORMALIZACION">LIDER NORMALIZACION</option>
    <option value="LIDER TECNICO">LIDER TECNICO</option>
    <option value="MENSAJERO ">MENSAJERO </option>
    <option value="MENSAJERO ADM">MENSAJERO ADM</option>
    <option value="RECEPCION">RECEPCION</option>
    <option value="SERV. ADMINISTRATIVOS">SERV. ADMINISTRATIVOS</option>
    <option value="SERVICIOS GENERALES">SERVICIOS GENERALES</option>
    <option value="SUBGERENTE">SUBGERENTE</option>
    <option value="TECNICO EN INFRAESTRUCTURA">TECNICO EN INFRAESTRUCTURA</option>
    <option value="TECNICO FIBRA OPTICA">TECNICO FIBRA OPTICA</option>
    <option value="TECNICO NORMALIZACION">TECNICO NORMALIZACION</option>
    <option value="TECNICO SERV. DOMICILIARIOS">TECNICO SERV. DOMICILIARIOS</option>
    <option value="DESARROLLADOR DE SOFTWARE">DESARROLLADOR DE SOFTWARE</option>

</datalist>