<datalist id="directores">
    <option value="DIANA BANEZA MEDELO QUINTERO">DIANA BANEZA MEDELO QUINTERO</option>
    <option value="JOAN FERNANDO BEJARANO ARIAS">JOAN FERNANDO BEJARANO ARIAS</option>
    <option value="DIANA PATRICIA URDANETA PAEZ">DIANA PATRICIA URDANETA PAEZ</option>
    <option value="JOHN HAMILTON ALARCON MUR">JOHN HAMILTON ALARCON MUR</option>
</datalist>