<datalist id="list_eps">
    <option value="ALIANSALUD EPS">ALIANSALUD EPS</option>
    <option value="CAJACOPI">CAJACOPI</option>
    <option value="CAPITAL SALUD">CAPITAL SALUD</option>
    <option value="COMPENSAR">COMPENSAR</option>
    <option value="COOSALUD MOVILIDAD">COOSALUD MOVILIDAD</option>
    <option value="EPS FAMILIAR DE COLOMBIA SAS">EPS FAMILIAR DE COLOMBIA SAS</option>
    <option value="EPS MUTUAL SER">EPS MUTUAL SER</option>
    <option value="EPS SURA">EPS SURA</option>
    <option value="FAMISANAR">FAMISANAR</option>
    <option value="NUEVA E.P.S.">NUEVA E.P.S.</option>
    <option value="SALUD TOTAL">SALUD TOTAL</option>
    <option value="SANITAS">SANITAS</option>

</datalist>