<datalist id="list_fondo_pensiones">
    <option value="COLFONDOS">COLFONDOS</option>
    <option value="COLPENSIONES">COLPENSIONES</option>
    <option value="PORVENIR">PORVENIR</option>
    <option value="PROTECCION">PROTECCION</option>
    <option value="NINGUNA">NINGUNA</option>

</datalist>