<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de incapacidad, filtro I</title>
</head>

<header>
    <%- include('../../../partials/navbars/modulos/incapacidades/navbar_principal.ejs') %>
        <%- include('../../../partials/sidebars/modulos/incapacidades/sidebar_principal.ejs') %>
            <%- include('../../../partials/header/header.ejs') %>
</header>

<body class="bg-slate-200 mx-1 ">
    <div>
        <div
            class="relative container filter shadow-[0px_4px_10px_rgba(100,116,139,0.5)]  mx-auto px-4 my-10  bg-white p-4 rounded-2xl flex flex-col items-center justify-center w-full max-w-10/12">


            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-y-5 gap-x-4 p-8">


                <div>
                    <label for="input-group-1" class="block mb-1.5 text-sm font-medium text-slate-900 text-left">Nombres</label>
                    <div class="relative mb-6">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-6 h-6 text-lime-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                              </svg>
                              
                        </div>
                        <input type="text" id="input-group-1"
                            class="bg-gray-50 border-b-lime-600 border-gray-300 text-slate-800 text-sm font-medium rounded-lg focus:ring-lime-600 focus:border-lime-600 block w-full ps-10 p-2 capitalize shadow-md"
                            placeholder="">
                    </div>
                </div>


                <div>
                    <label for="input-group-1" class="block mb-1.5 text-sm font-medium text-slate-900 text-left">Apellidos</label>
                    <div class="relative mb-6">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-6 h-6 text-lime-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                              </svg>
                              
                        </div>
                        <input type="text" id="input-group-1"
                            class="bg-gray-50 border-b-lime-600 border-gray-300 text-slate-800 text-sm font-medium rounded-lg focus:ring-lime-600 focus:border-lime-600 block w-full ps-10 p-2 capitalize shadow-md"
                            placeholder="">
                    </div>
                </div>


                <div>
                    <label for="input-group-1" class="block mb-1.5 text-sm font-medium text-slate-900 text-left">Nombres</label>
                    <div class="relative mb-6">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-6 h-6 text-lime-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                              </svg>
                              
                        </div>
                        <input type="text" id="input-group-1"
                            class="bg-gray-50 border-b-lime-600 border-gray-300 text-slate-800 text-sm font-medium rounded-lg focus:ring-lime-600 focus:border-lime-600 block w-full ps-10 p-2 capitalize shadow-md"
                            placeholder="">
                    </div>
                </div>


                <div>
                    <label for="input-group-1" class="block mb-1.5 text-sm font-medium text-slate-900 text-left">Nombres</label>
                    <div class="relative mb-6">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-6 h-6 text-lime-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                              </svg>
                              
                        </div>
                        <input type="text" id="input-group-1"
                            class="bg-gray-50 border-b-lime-600 border-gray-300 text-slate-800 text-sm font-medium rounded-lg focus:ring-lime-600 focus:border-lime-600 block w-full ps-10 p-2 capitalize shadow-md"
                            placeholder="">
                    </div>
                </div>


            </div>

            




        </div>
    </div>
</body>

</html>