<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VENTANA CONFIRMACION INCAPACIDAD RECIBIDA</title>
</head>


<header>



</header>

<body class="bg-slate-200 px-0 mx-0">

    <div class="relative container filter shadow-[0px_4px_10px_rgba(100,116,139,0.5)] mx-auto mt-8 mb-32 px-2 my-4 bg-white p-4 rounded-xl flex flex-col items-center justify-center w-full">

        <h1>hola ventana </h1>


    </div>
    
</body>
</html>